/* Special-menu styles start  */
.sp-menu {
  padding: 120px 0;
}
.sp-menu__title {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 4px;
}
.sp-menu__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-top: 12px;
}
.sp-menu__left {
  width: 40%;
}
.sp-menu__leap {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
}
.sp-menu__desc {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  margin: 13px 0 45px;
}
.sp-menu__button {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #e1b168;
  border: 2px solid #e1b168;
  background-color: transparent;
  display: inline-block;
  margin-top: 60px;
  padding: 20px 57px;
  transition: all 0.4s ease-in-out;
}
.sp-menu__button:hover {
  background-color: #e1b168;
  color: #fff;
}
.sp-menu__right {
  width: 60%;
}
.sp-menu__item-current {
  margin-bottom: 40px;
}
.sp-menu__heading {
  font-family: "Cormorant Infant", serif;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #292e36;
}
.sp-menu__list + .sp-menu__list {
  margin-top: 74px;
}
.sp-menu__item + .sp-menu__item {
  margin-top: 50px;
}
.sp-menu__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sp-menu__item-left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.sp-menu__head {
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #292e36;
}
.sp-menu__text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}
.sp-menu__item-center {
  border-bottom: 2px solid #aaaaaa;
  flex-grow: 1;
  margin: 0 10px 15px;
}
.sp-menu__item-right {
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #292e36;
  margin-bottom: 13px;
}
/* Special-menu styles end  */
/* Offer-menu styles start  */
.offer-menu {
  padding: 120px 0;
}
.offer-menu__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.offer-menu__subtitle {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 4px;
}
.offer-menu__title {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
  margin: 12px 0 8px;
}
.offer-menu__desc {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #555555;
  width: 60%;
}
.offer-menu__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.offer-menu__item {
  background: url("../img/burger-pic.png") no-repeat center center / cover;
  width: 665px;
  height: 409px;
  padding: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.offer-menu__item:last-child {
  background: url("../img/pizza-pic.png") no-repeat center center / cover;
}
.offer-menu__leap {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #292e36;
  padding-top: 4px;
  border-top: 1px solid #292e36;
  border-bottom: 1px solid #292e36;
  width: 212px;
  text-align: center;
}
.offer-menu__heading {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #292e36;
  margin: 8px 0 5px;
}
.offer-menu__text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  width: 245px;
}
/* Offer-menu styles end  */
/* Reservation styles start  */
.reservation {
  background: url("../img/form-bg.jpg") no-repeat center center / cover;
  padding: 140px 0;
}
.reservation__inner {
  padding: 140px 140px 150px;
  background: rgba(41, 46, 54, 0.95);
}
.reservation__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}
.reservation__subtitle {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 4px;
}
.reservation__title {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 11px;
}
.reservation__form {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.reservation__form div {
  display: flex;
}
.reservation__form input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  border: 1px solid #858585;
  padding: 18px 10px 19px 25px;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.reservation__form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.reservation__form div:first-child input:first-child {
  width: 307px;
  margin-right: 26px;
}
.reservation__form div:first-child input:last-child {
  width: 307px;
}
.reservation__form div:nth-child(2) input {
  width: 198px;
  color-scheme: dark;
}
.reservation__form div:nth-child(2) input:nth-child(2) {
  margin: 0 23px;
}
.reservation__button {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  background: #ffffff;
  display: block;
  padding: 23px 54px 12px;
  margin: 0 auto;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}
.reservation__button:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}
/* Reservation styles end  */
