/* Header style start */
header {
  background-color: #292e36;
  border-bottom: 1px solid #5c6168;
  padding: 50px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #292e36;
  color: white;
  border: 1px solid #e1b168;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #e1b168;
  color: #292e36;
  border: 1px solid transparent;
}

.first {
  padding: 20px 57px;
}

.second {
  padding: 20px 86px;
}

.header__buttons .first {
  display: none;
}

/* Header style end */
/* Navbar style start */
.container-navbar {
  background-color: #292e36;
  padding: 26px 0;
}

.container-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 60px;
  color: #fff;
}

.links a {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #e1b168;
}

.burger-input {
  display: none;
}

.open {
  cursor: pointer;
  display: none;
}

.close {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.701);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

/* Navbar style end */
/* about style start */
.about {
  background-color: #292E36;
}

.about .container {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.about_left {
  width: 50%;
}

.about_right {
  width: 50%;
}

.about_title {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0.2px;
  color: #FFFFFF;

}

.about_text {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 26px 0 35px;

}

.about_btn {
  text-align: center;
  letter-spacing: 0.2px;
  background-color: transparent;
  color: #292E36;
  padding: 20px 57px;
  border: 1px solid #e1b168;
  transition: all 0.3s ease-in-out;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;

  color: #E1B168;

}

.about_btn:hover {
  background-color: #e1b168;
  color: #292E36;
  border: 1px solid transparent;
}

.about_btn_n {
  display: none;
  text-align: center;
  letter-spacing: 0.2px;
  background-color: transparent;
  color: #292E36;
  padding: 8px 20px;
  border: 1px solid #e1b168;
  transition: all 0.3s ease-in-out;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #E1B168;

}

/* about style end */
/* The Delicious Story */
.s-section {
  padding: 84px 0 125px 0;
  background-color: #FFF8F5;
}

.s-section_content {
  display: flex;
  gap: 45px;
}

.s-section_img {
  flex: 1;
}

.s-section_text {
  flex: 1;
}

.s-section_header {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #292E36;
  margin-bottom: 15px;
  font-size: 40px;
}

.s-section_inner_text {
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}

.s-section_inner_content {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 20px 0;
}

.s-section_inner_item {
  flex: 0.4;
}

.s-section_inner_img {
  margin-top: 20px;
  width: 197px;
}

/* The Delicious Story */
/* Special-menu styles start  */
.sp-menu {
  padding: 80px 0;
}

.sp-menu__title {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 4px;
}

.sp-menu__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-top: 12px;
}

.sp-menu__left {
  width: 40%;
}

.sp-menu__leap {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
}

.sp-menu__desc {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  margin: 13px 0 45px;
}

.sp-menu__button {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #e1b168;
  border: 2px solid #e1b168;
  background-color: transparent;
  display: inline-block;
  margin-top: 60px;
  padding: 20px 57px;
  transition: all 0.4s ease-in-out;
}

.sp-menu__button:hover {
  background-color: #e1b168;
  color: #fff;
}

.sp-menu__right {
  width: 60%;
}

.sp-menu__item-current {
  margin-bottom: 40px;
}

.sp-menu__heading {
  font-family: "Cormorant Infant", serif;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #292e36;
}

.sp-menu__list+.sp-menu__list {
  margin-top: 74px;
}

.sp-menu__item+.sp-menu__item {
  margin-top: 50px;
}

.sp-menu__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sp-menu__item-left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.sp-menu__head {
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #292e36;
}

.sp-menu__text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
}

.sp-menu__item-center {
  border-bottom: 2px solid #aaaaaa;
  flex-grow: 1;
  margin: 0 10px 15px;
}

.sp-menu__item-right {
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #292e36;
  margin-bottom: 13px;
}

/* Special-menu styles end  */
/* Offer-menu styles start  */
.offer-menu {
  padding: 0 0 120px;
}

.offer-menu__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.offer-menu__subtitle {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292e36;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 4px;
}

.offer-menu__title {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292e36;
  margin: 12px 0 8px;
}

.offer-menu__desc {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #555555;
  width: 60%;
}

.offer-menu__inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.offer-menu__item {
  background: url("../img/burger-pic.png") no-repeat center center / cover;
  width: 665px;
  height: 409px;
  padding: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.offer-menu__item:last-child {
  background: url("../img/pizza-pic.png") no-repeat center center / cover;
}

.offer-menu__leap {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #292e36;
  padding-top: 4px;
  border-top: 1px solid #292e36;
  border-bottom: 1px solid #292e36;
  width: 212px;
  text-align: center;
}

.offer-menu__heading {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #292e36;
  margin: 8px 0 5px;
}

.offer-menu__text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  width: 245px;
}

/* Offer-menu styles end  */
/* Reservation styles start  */
.reservation {
  background: url("../img/form-bg.jpg") no-repeat center center / cover;
  padding: 140px 0;
}

.reservation__inner {
  padding: 140px 140px 150px;
  background: rgba(41, 46, 54, 0.95);
}

.reservation__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}

.reservation__subtitle {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 4px;
}

.reservation__title {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 11px;
}

.reservation__form {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.reservation__form div {
  display: flex;
}

.reservation__form input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  border: 1px solid #858585;
  padding: 18px 10px 19px 25px;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.reservation__form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.reservation__form div:first-child input:first-child {
  width: 307px;
  margin-right: 26px;
}

.reservation__form div:first-child input:last-child {
  width: 307px;
}

.reservation__form div:nth-child(2) input {
  width: 198px;
  color-scheme: dark;
}

.reservation__form div:nth-child(2) input:nth-child(2) {
  margin: 0 23px;
}

.reservation__button {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  background: #ffffff;
  display: block;
  padding: 23px 54px 12px;
  margin: 0 auto;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.reservation__button:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

/* Reservation styles end  */
/* Footer styles start  */
.footer {
  background: #292e36;
  padding-top: 100px;
}

.footer__start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__hashtag p {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer__logo p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 303px;
  margin: 11px auto 0;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__social svg path {
  transition: all 0.2s ease-out;
}

.footer__social svg:hover path {
  fill: #e1b168;
}

.footer__center {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footer__contact {
  max-width: 227px;
}

.footer__subtitle {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  margin-bottom: 33px;
}

.footer__contact p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer__contact a {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #e1b168;
  transition: all 0.3s ease-in-out;
}

.footer__contact a:hover {
  color: #fff;
}

.footer__form {
  display: flex;
  align-items: center;
  max-width: 664px;
  height: max-content;
}

.footer__form input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  border: 1px solid #858585;
  padding: 17px 15px 18px 24px;
  color: #fff;
  outline: none;
  width: 456px;
  background-color: transparent;
}

.footer__form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer__form button {
  background: #ffffff;
  padding: 8px 40px;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid transparent;
  color: #000000;
  transition: all 0.4s ease-in;
}

.footer__form button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.footer__worktime {
  max-width: 264px;
  text-align: right;
}

.footer__worktime p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer__worktime p:not(:last-child) {
  margin-bottom: 5px;
}

.footer__worktime p span {
  color: #e1b168;
}

.footer__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-top: 1px solid #575b62;
}

.footer__end p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer__end p span {
  color: #e1b168;
}

.footer__end ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.footer__end ul a {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #e1b168;
  transition: all 0.3s ease-in;
}

.footer__end a:hover {
  color: #fff;
}

/* Footer styles end  */